<tr class="list-item-row" data-index="{{@index}}">
  <td class="list-name-cell">{{ listName }}</td>

  <td class="url-cell"><a href="{{sharedUrl}}" target="_blank">{{ sharedUrl }}</a>  </td>

  <td>{{formatDate creationDate}}</td>
</tr>