<div class="source-container">
  <label class="active">Source Url</label>

  <div class="dropdown-container">
    <div class="dropdown" data-key="source.operator">

      <button class="btn dropdown-toggle source-operator-select" type="button" data-toggle="dropdown">
        <span class="dropdown-value" data-value="">Select</span>
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-option"
               data-value="{{readGlobalVar "RQ.RULE_OPERATORS.EQUALS"}}"
               {{#equalsGlobalVar "RQ.RULE_OPERATORS.EQUALS" source.operator}}selected{{/equalsGlobalVar}}>Equals</a>
        </li>
        <li>
          <a class="dropdown-option"
               data-value="{{readGlobalVar "RQ.RULE_OPERATORS.CONTAINS"}}"
               {{#equalsGlobalVar "RQ.RULE_OPERATORS.CONTAINS" source.operator}}selected{{/equalsGlobalVar}}>Contains</a>
        </li>
        <li>
          <a class="dropdown-option"
               data-value="{{readGlobalVar "RQ.RULE_OPERATORS.MATCHES"}}"
               {{#equalsGlobalVar "RQ.RULE_OPERATORS.MATCHES" source.operator}}selected{{/equalsGlobalVar}}>Matches</a>
        </li>
      </ul>
    </div>
  </div>

  <input type="text" class="form-control source-value-input" data-key="source.value" value="{{source.value}}" placeholder="{{sourcePlaceholder}}" />

  <span class="fa fa-trash-o delete-pair action-icon"></span>
</div>