<nav class="rule-header">
  <span>Block/Cancel Network Request</span>
</nav>

<section class="rule-body">
  {{> RuleProperties}}

  <div class="title">
    <span class="left">Enter Keywords or Urls or Domains to be blocked</span>
    <button class="right btn add-pair">
      <span class="glyphicon glyphicon-plus-sign action-icon"></span>
      <span>New</span>
    </button>
  </div>

  <div class="pairs-container">
    {{#each pairs}}
      <div class="well well-sm pair-container" data-index="{{@index}}">
        <div class="source-container">
          <div class="dropdown-container">
            <select class="source-operator-select" data-key="source.operator">
              <option value="{{../RULE_OPERATORS.EQUALS}}" {{#equals source.operator ../RULE_OPERATORS.EQUALS}}selected{{/equals}}>Url Equals</option>
              <option value="{{../RULE_OPERATORS.CONTAINS}}" {{#equals source.operator ../RULE_OPERATORS.CONTAINS}}selected{{/equals}}>Url Contains</option>
              <option value="{{../RULE_OPERATORS.MATCHES}}" {{#equals source.operator ../RULE_OPERATORS.MATCHES}}selected{{/equals}}>Url Matches</option>
            </select>
          </div>

          <input type="text" class="form-control source-value-input" data-key="source.value"
                 value="{{source.value}}" placeholder="{{sourcePlaceholder}}" />

          <span class="glyphicon glyphicon-trash delete-pair action-icon"></span>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="buttons-container">
    <a class="btn btn-success save-button save-rule">Save</a>
    <a href="#" class="btn btn-default">Cancel</a>
  </div>
</section>